:root {
  font-size: 100%;
}

body {
  font-family: var(--ff-body);
  font-size: var(--fs-body);
  font-weight: var(--fw-regular);
  color: var(--clr-white);
  line-height: 1.5;
  letter-spacing: -0.2px;
}

h1,
h2 {
  font-family: var(--ff-heading);
  font-weight: var(--fw-semi-bold);
  line-height: 1.4;
  margin-bottom: 0.625rem;
}

h1 {
  font-size: var(--fs-heading1);
}
